abody {

	margin: 0;

	padding: 0;

	font-size: 90%;

	background-color: #000033;

}

#outside {

	width: 776px;

	margin:  auto;

	padding: 0;

	background: White url(images/bodyback.jpg) repeat-y top;

}

h1{

	font: bold 18px  tahoma, Arial;

	color: #81AD2A;

	padding: 0px;

	margin: 5px;

	text-align: center;

}

h2 {

	margin-bottom: 1px;

	margin-top: 5px;

	padding: 0px;

	font: bold 16px/25px Arial,tahoma;

	text-align: center;

	color: #0880CC;

}

h3{

	margin: 0px;

	padding: 2px;

	font: bold 14px/20px Arial,tahoma;

	color: #008AB5;

	text-align: right;

}

p

{

	padding: 1px;

	margin: 0px;

	color: #DC143C;

}

ul

{

	font: bold 16px/30px arial,tahoma;

	padding: 2px;

	margin: 0px;

	list-style: none;

}

il

{

	margin: 0px;

	padding: 0px;

}

h5

{

	float: left;

	padding-right: 18px;

	color: #1E90FF;

	margin: 0px;

	font: bold 16px/20px arial,tahoma;

}

hr

{

	color: Silver;

	width: 99%;

	text-align: center;

}

#header {

	height: 150px;

	width: 776px;

	margin: 0px;

	padding: 0px;

	background: White url(images/bannerback.jpg) no-repeat top;

}

#header h1 {

	padding: 0px;

}

#header h1 a{

	color: Lime;

	font: bold 24px/25px "Times New Roman", Times, serif;

	text-decoration: none;

	float: right;

	margin: 40px 45px 0 0;

}

#header h1 a:hover{

	color: Yellow;

}

#col1 {

	margin: 0;

	width: 165px;

	float: right;

	border: none;

}

.nav {

	width: 164px;

	margin:0 29px 0 0;

	padding: 0px;

	background-color: #F0F0F0;

}

.nav  a {

	display: block;

	color: #1E90FF;

	width: 160px;

	border-bottom: 1px solid White;

	font-weight: bold;

	text-align: center;

	text-decoration: none;

}

.nav a:hover {

	background: #FAFAFA;

	color: #3C1FE6;

	font-size: large;

}

.navbottom{

	width: 164px;

	height: 20px;

	margin:0;

	padding: 0px;

	background: #fff url(images/navbottom.jpg) no-repeat top;

}

#col2 {

	margin-right: 190px;

	width: 550px;

	padding: 10px;

	margin-top: 0px;

	font: normal .9em/1.5em tahoma;

}

#col2 a {

	color: #7B68EE;

	font-weight: bold;

	text-decoration: none;

}

#col2 a:hover {

	color: #FF6428;

}

#col2 img

{

	display: block;

	margin: 0px;

	padding: 0px;

	border: none;

}

#footer {

	width: 776px;

	clear: both;

	font: bold 14px/50px Arial;

	margin: auto;

	background: url(images/bac.jpg) repeat-x top;

	color: Teal;

	height: 50px;

	line-height: 50px;

	text-align: center;

}

#footer h6 {margin: 0; height: 50px; padding: 0px;font: bold 14px/50px Arial;}

#footerlink {float: left; margin: 0 5px 0 5px;}

#footer a {

	color: #00A3D7;

	text-decoration: none;

}

#footer a:hover {

	color: #330099;

	text-decoration: underline;

	font-size: large;

}

.order

{

	width: 500px;

	height: 150px;

	background: #fff url(images/back.jpg) no-repeat center;

	margin: auto;

	font: bold 14px/25px Tahoma,Arial;

}

.adv

{

	width: 505px;

	height: 60px;

	margin: auto;

	background: #C8F2FF;

}

