
.ma-menu{
    font-family: KufiArabic, cursive;
    margin:10px auto;
    width: 99%;
}
.ma-menu li a:active {
  background-color: #E8D502;
}

#double li  { width:100%;}

.ma-menu li{
    float:right;
    display:inline;
    height: 100px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.ma-menu li:last-child{
    margin-bottom: 0px;
}
.ma-menu li a{
    text-align: right;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ma-icon{
    font-family: KufiArabic, cursive;
    font-size: 23px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    right: 20%;
    text-align: center;
    -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ma-content{
    position: absolute;
    left: 30px;
}
.ma-main{
    font-size: 30px;
    -webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.ma-sub{
    font-size: 14px;
    color: #CACACA;
    text-align: left;
}
.ma-menu li:hover{
    background-color: #62135F  ;
}
.ma-menu li:hover .ma-icon{
    color: #CCC;
    opacity: 0.6;
    right: 20%;
    transform: scale(1.4);
}
.ma-menu li:hover .ma-main{
    opacity: 0.8;
    color: #FFF;
}
.ma-menu li:hover .ma-sub{
    color: #fff;
    opacity: 0.8;
}