
.ca-menu{
    margin: 10 0 0 0;
    width: 100%;
	display: flex;  
	flex-wrap: wrap;	
	list-style-type: none;
	
}


.ca-menu li{
    width: 90px;
    border: 3px solid #f6f6f6;
    position: relative;
    float:right;
    background: #fff;
    margin-left:10px;
	flex-wrap: wrap;	
}
.ca-menu li:last-child{
    margin-right: 0px;
}


.ca-main{
	display: none;
	
}
.ca-sub{
    display: none;
}
.ca-menu li:active {
	background-color:  #A51D9C;
}


