/*@import url(http://fonts.googleapis.com/earlyaccess/lateef.css);
*/
@font-face {
	font-family: KufiArabic;
	src: url(/fonts/KufiArabic-Regular.ttf);
}
body {
	/*min-width: 960px; */
	text-align: center;
}
div {
	display: block;
}
.tape {
	font-family: lateef, serif;
	position: relative;
	height: 200px;
	min-height: 200px;
	font-size: 14px;
}
.tape a img {
	border-radius: 18px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 7px;
	-moz-transition: all 0.35s ease-out;
	-webkit-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
.tape a img:hover {
	width: 88px;
	height: 88px;/*padding: 2px; */
}
.initialState .tape {
	/*opacity: 0;*/
	width: 8px;
	height: 8px;
}
.more {
	height: 200px;
}
.more a img:hover {
	width: 100px;
	height: 198px;
	opacity: 0.6;
}
.main {
	margin: 0 auto;
	width: 100%;   /* you can use px, em or % */
	text-align: right;
}
.wrap {
	position: relative;
}
.ribbon {
	width: 100%;
	height: 10px;
	background: #50147A;
}
.site_header {
	position: relative;
	background: #F0F1F4;
	background: bottom #D8DDE1;
	display: block;
	width: 100%;
}
.container_header {
	position: relative;
	margin: 0px auto;
	padding: 10px 0;
	width: 100%;
}
#logo {
	height: 29px;
	width: 220px;
	border-radius: 3px;	
}

.menu {
	width: 100%;
	position: relative;
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li ul li p {
	color: #ACB1B4;
	font-size: 12px;
	line-height: 16px;
}
.menu ul li {
	display: block;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.menu ul li a {
	display: block;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	background: #ddd;
	color: #000;
	text-decoration: none;
	line-height: 2.5em;
	font-family: Droid Arabic Kufi;
}
.menu ul li a:hover {
	background: #50147A;
	color: #fff;
}
.menu ul li a.active, .menu ul li a.active:hover {
	color: #fff;
	background: #000;
	font-weight: bold;
}
.title {
	font-family: lateef, serif;
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	color: #999;
}
.ads_top_728_90{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-top: 10px;
}
.ads_top_728_90 a img:hover{
    opacity: 0.5;
}
.content {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.video {
	width: 100%;
	background-color: #1b1b1b;
	margin-left: auto;
	margin-right: auto;
	height:auto;
}
#live_code {
	width: 100%;
	height: 100%;
	background-color: #1b1b1b;
}
.back_video {
	width: 100%;
	background-color: #1b1b1b;
}
#ads_live{
    width: 350px;
    height: 270px;
    position: absolute;
    background-color: bisque;
    z-index: 50;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
}
.comments {
	background-color: #FFF ;
	z-index: 50;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	opacity:0.5;
	position: relative;
    overflow-y:hidden;
    overflow-x: hidden;
	right:0px;
	float:right;
	width:100%;
    min-width:100px;
	min-height:350px;
	max-height:470px;
    height:100%;
    top:-40px;
}
.comments:hover {
	border-bottom-left-radius: 28px;
	border-top-left-radius: 28px;
	width:115%;
	border: thick;
	border-color: #666;
	opacity:1;
    overflow-y: scroll;
}
.inner_comm{
   max-height: 100%;
}

#info {
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	z-index: 20;
}
.description {
	font-size: 16px;
	text-align: right;
	color: #AFAFAF;
	width: 770px;
}
.site_footer {
	color: #7B8084;
	padding: 25px 0;
	background: #F4F5F7;
	border: 1px solid #E5EAEE;
	border-right: 0;
	border-left: 0;
	line-height: 17px;
	width: 100%;
}
.container_footer {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.footers_footer {
	width: 960px;
	margin: 15px auto;
	color: #ACB1B4;
	font-size: 11px;
	overflow: auto;
	background: #F4F5F7;
	line-height: 17px;
	border: 1px solid #E5EAEE;
}
.leagal {
	float: right;
}
.right {
	float: right;
}
.with_love {
	float: right;
}
/*----   social-sharing   --------------*/  
.btn-twitter {
	background: #00acee;
	border-radius: 0;
	color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
	color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
	background: #0087bd;
	color: #fff;
}
.btn-facebook {
	background: #3b5998;
	border-radius: 0;
	color: #fff;
}
.btn-facebook:link, .btn-facebook:visited {
	color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
	background: #30477a;
	color: #fff
}
.btn-googleplus {
	background: #e93f2e;
	border-radius: 0;
	color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
	color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
	background: #ba3225;
	color: #fff
}
.btn-stumbleupon {
	background: #f74425;
	border-radius: 0;
	color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
	color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
	background: #c7371e;
	color: #fff
}
.btn-linkedin {
	background: #0e76a8;
	border-radius: 0;
	color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
	color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
	background: #0b6087;
	color: #fff
}
.total-shares {
	margin-right: 10px;
	text-align: center;/* position: relative; */
}
.total-shares em {
	color: #7fc04c;
	font-size: 40px;
	font-size: 4rem;
	font-weight: bold;
	font-style: normal;
	line-height: 25px;
}
.total-shares caption {
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-size: 1.1rem;
	margin-top: -13px;
	color: #8a8c8e;
	text-transform: uppercase;
}
.slash {
	position: absolute;
	top: -5px;
	background: url(http://rack.0.mshcdn.com/assets/splitter-673d2cab0a5d00ede21d1ed5c9edaf48.png) transparent center center no-repeat;
	width: 30px;
	height: 55px;
	margin: 0;
	right: 15px;	
}

/*----  END social-sharing   --------------*/

.edit{
  position: fixed;
  float: left;
  left: 0px;
  top: 50%;
  font-size: +2;
  background-color: #C6DF34;
}
