@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@font-face {
	font-family: KufiArabic;
	src: url(/fonts/KufiArabic-Regular.ttf);
}
body {
	width: 100%;
	text-align: center;
}
div {
	display: block;
}

.tape a img {
	border-radius: 10px;
	width: 75px;
	height: 90%;

}

.initialState .tape {
	width: 8px;
	height: 8px;
}
.more {
	display: none;	
}

.main {
	margin: 0 auto;
	width: 100%;   /* you can use px, em or % */
	text-align: right;
}
.wrap {
	position: relative;
}
.ribbon {
	width: 100%;
	height: 10px;
	background: #50147A;
}
.site_header {
	position: relative;
	background: #F0F1F4;
	background: bottom #D8DDE1;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.container_header {
	position: relative;
	padding: 10px 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.container-fluid {
	padding: 0;
    margin-right: auto;
    margin-left: auto;
}
#logo {
	height: 29px;
	width: 220px;
}

.menu {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
		display: none;	
}
.menu ul {
    list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}
.menu li ul li p {
	color: #ACB1B4;
	font-size: 12px;
	line-height: 16px;
}
.menu ul li {
	display: block;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.menu ul li a {
	display: block;
	color: #000;
	text-decoration: none;
	line-height: 2em;
	font-family: Droid Arabic Kufi;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 2px 8px 3px 9px;

}

.menu ul li a.active,  {
	color: #fff;
	background: #000;
	font-weight: bold;
}
.title {
	font-family: lateef, serif;
	margin-left: auto;
	margin-right: auto;
    padding-bottom: 10px;
	color: #999;
	z-index: 60;
	
}
.content {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.video {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#live_code {
	width: 100%;
}
.back_video {
	width: 100%;
    background-color: rgb(55, 55, 58);
    min-height:150px;
}

.comments {
	background-color: #FFF ;
	z-index: 50;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	opacity:0.5;
	position: relative;
    overflow-y:hidden;
    overflow-x: hidden;
	right:0px;
	float:right;
	width:100%;
    min-width:100px;
	min-height:270px;
	max-height:400px;
    height:100%;
}

.inner_comm{
   max-height: 100%;
}

#info {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 20;
}
.share_b{
    padding-top: 6px;
}

.description {
	font-size: 16px;
	text-align: right;
	color: #AFAFAF;
	width: 770px;
}
.site_footer {
	color: #7B8084;
	padding: 20px 0;
	background: #F4F5F7;
	border: 1px solid #E5EAEE;
	border-right: 0;
	border-left: 0;
	line-height: 17px;
	width: 100%;
}
.container_footer {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.footers_footer {
	width: 100%;
	margin: 15px auto;
	color: #ACB1B4;
	font-size: 11px;
	overflow: auto;
	background: #F4F5F7;
	line-height: 17px;
	border: 1px solid #E5EAEE;
}
.leagal {
	float: right;
}
.right {
	float: right;
}
.with_love {
	float: right;
}
/*----   social-sharing   --------------*/
.btn-twitter {
	background: #00acee;
	border-radius: 0;
	color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
	color: #fff
}
.btn-twitter:active{
	background: #0087bd;
	color: #fff;
}
.btn-facebook {
	background: #3b5998;
	border-radius: 0;
	color: #fff;
}
.btn-facebook:link, .btn-facebook:visited {
	color: #fff
}
.btn-facebook:active {
	background: #30477a;
	color: #fff
}
.btn-googleplus {
	background: #e93f2e;
	border-radius: 0;
	color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
	color: #fff
}

.btn-stumbleupon {
	background: #f74425;
	border-radius: 0;
	color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
	color: #fff
}
.btn-stumbleupon:active {
	background: #c7371e;
	color: #fff
}
.btn-linkedin {
	background: #0e76a8;
	border-radius: 0;
	color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
	color: #fff
}
.btn-linkedin:active {
	background: #0b6087;
	color: #fff
}
.total-shares {
	margin-right: 10px;
	text-align: center;/* position: relative; */
}
.total-shares em {
	color: #7fc04c;
	font-size: 40px;
	font-size: 4rem;
	font-weight: bold;
	font-style: normal;
	line-height: 25px;
}
.total-shares caption {
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-size: 1.1rem;
	margin-top: -13px;
	color: #8a8c8e;
	text-transform: uppercase;
}
.slash {
	position: absolute;
	top: -5px;
	background: url(http://rack.0.mshcdn.com/assets/splitter-673d2cab0a5d00ede21d1ed5c9edaf48.png) transparent center center no-repeat;
	width: 30px;
	height: 55px;
	margin: 0;
	right: 15px;
}

/*----  END social-sharing   --------------*/
.edit{
	position: fixed;
	float: left;
	left: 0px;
	top: 50%;
	font-size: +2;
	background-color: #C6DF34;
}
.float-right{
	float: right;
}

.ads_text{
	width: 100%;
	margin-top: 0;
}
