/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-size: 90%;
	background-color: #333333;

}

table{
	margin:auto;
	border:medium;
}

a{
	text-decoration:none;
	color: blue;
}
 a:hover{
	color: red;
}

h1{
	font: bold 16px  tahoma, Arial;
	color: #81AD2A;
	padding: 0px;
	margin: 5px;
	text-align: left;
}

h2 {
	margin-bottom: 1px;
	margin-top: 5px;
	padding: 0px;
	font: bold 16px/25px Arial,tahoma;
	text-align: center;
	color: #003333;
}

h3{
	margin: 0px;
	padding: 2px;
	font: bold 14px/20px Arial,tahoma;
	color: #008AB5;
	text-align: right;
}
p{
	padding: 1px;
	margin: 0px;
	color: #DC143C;
}


h5 {
	float: left;
	padding-right: 18px;
	color: #1E90FF;
	margin: 0px;
	font: bold 16px/20px arial,tahoma;
}

hr{
	color: Silver;
	width: 99%;
	text-align: center;
}


#col1 {
	margin: 0;
	width: 165px;
	float: right;
	border: none;
}

.nav {
	padding: 0px;
	font-size: small;
	text-align:center;
}

.nav  a {
	display: block;
	color: #003366;
	width: 100%;
	border-bottom: 1px solid White;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.nav a:hover {
	background: #FAFAFA;
	color: #3C1FE6;
	font-size: medium;
}

#col2 {
	margin-right: 190px;
	width: 550px;
	padding: 10px;
	margin-top: 0px;
	font: normal .9em/1.5em tahoma;
}

#col2 a {
	color: #7B68EE;
	font-weight: bold;
	text-decoration: none;
}

#col2 a:hover {
	color: #FF6428;
}
.header{
	background:#FF6;
	text-align:center;
}

.admin{
	margin:0pt auto;
	padding: 0px;
}

.footer{
	color:#999;
	width:100%;
	font-size:14px;
	text-align:center;
}

.footer a {
	color: #00A3D7;
	text-decoration: none;
}

.admin_e{
	color:#666;
	font:Tahoma, Geneva, sans-serif;
	background:#CCF;
	height:auto;
	width: 175px;
	-moz-border-radius: 5px 5px / 5px 5px;
	border-radius: 10px 5px / 15px 5px;
}