body {
    background-color: #0f0f0f;
}
#main-content {
    background-color: #00000000;
}
.navbar-default {
    background-color:#000000; /* #232323; */
    border-color: #212121;
}
#primary-bar {
    background-color: #0f0f0f;
    border-bottom: 1px solid #212121;
}
#footer {
    background-color: #0f0f0f;
}
#copyright {
    background-color: #0f0f0f;
    border-top: 1px solid #1b1b1b;
}
.dropdown-menu {
    background-color: #000000bd;
}
.search-box {
    background-color: #232323;
    color: #6d6d6d;
}
.form-control {
    background-color: #2b2b2b;
    border-color: #424040;
    color: #6d6d6d;
}
.form-control:focus {
    border-color: #616161;
    outline: 0;
    box-shadow: none;
    background-color: #232323;
}
input:focus {
    background-color: #232323;
}
.dropdown-menu > li > a {
    color: #bdbdbd;
}
.dropdown-menu > li > a:hover {
    color: #fbfbfb;
    background-color:transparent;
}
.profiles-wrap .pp-main {
    background: #232323;
}
.profiles-wrap {
    background: #0f0e0e;
}
.sidebar .sidebar-menu ul li.active {
    background: #212020;
    color: #fff;
}
.sidebar .sidebar-menu ul li.active a {
    color: #fdf9f9;
}
.sidebar .sidebar-menu ul li:hover {
    background: #212020;
    color: #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #1f1e1e;
    border: 1px solid #131212;
}
.btn-default {
    color: #9a9a9a;
    background-color: #343434;
    border-color: #343434;
}
.btn-default:hover {
    color: #9a9a9a;
    background-color: #343434;
    border-color: #343434;
}
#contact-form .form-control {
    border: 1px solid #343434;
    border-radius: 8px;
    height: 40px;
    color: #e0e0e0;
}
#myFooter {
    background-color: #232323;
}
#myFooter .footer-copyright {
    background-color: #151414;
}
#title-bar {
    border-bottom: 1px solid #1d1d1d
}
.nav-tabs {
    border-bottom: 1px solid #1d1d1d;
}
.sidebar .most-liked .media,
.latest-post .media {
    border-bottom: 1px solid #1d1d1d;
}
.disable-bottom-line {
    background-color: transparent;
    /*background-color: #1d1d1d;*/
    z-index: 1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #000;
    /*border: 1px solid #1d1d1d;*/
    border-bottom-color: transparent;
}
.ui-autocomplete {
    background: #131313;
    border: 1px solid #000;
    position: fixed !important;
}
.list_item_container:hover {
    background-color: #000;
}
.ui-menu-item {
    border-bottom: 1px solid #000;
}
.ui-menu-item:hover {
    background-color: #000;
    color: #fff;
}
.ui-widget.ui-widget-content {
    border: 1px solid #000;
    background: #121212db;
}
.table>tbody>tr>td{
    border-top: transparent;
}

.user-content .uct-info .block {
    border-bottom: 1px solid #292828;
    color: #acacac;
    font-size: 16px;
}
.sidebar .sidebar-menu ul li a {
    color: #dddddd;
    font-size: 18px;
}
.sidebar .sidebar-menu ul li a:hover {
    color: #d50055;
}

.form-horizontal .form-group label{
    color: #c2c2c2; 
}
.alert-danger {
    color: #ff0000;
    background-color: #313030;
    border: none;
    border-left: 2px solid;
}

.alert-success {
    color: green;
    background-color: #313030;
    border: none;
    border-left: 2px solid;
}

.pagination {
    border-top: 1px solid #353030;
}
.modal-body {
    background-color: #2b2b2b;
    color:#d4d4d4;
}
.modal-footer {
    background-color: #484848;
    border-top: 1px solid #5d5b5b;
}
legend {
    color: #a7a7a7;
    border-bottom: 1px solid #424040;
}
.modal-body .form-control{
    background-color: #2b2b2b;
    border-color: #424040;
}
.profiles-wrap .sidebar .sb-title {
    background: #3a3a3a;
    border-right: 1px solid #4c4a4a;
}

.profiles-wrap .pp-main .ppm-head .ppmh-title {
    background: #313131;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #2b2b2b;
    border-color: #424040;
    color: #6d6d6d;
}

/*v3.3*/

.navbar-default .navbar-nav>li>a {
    color: #e0e0e0;
    font-size: 18px;
    /* text-transform: uppercase; */
}

/*background*/
  .banner-section::after {
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0) 11%, rgba(228, 226, 226, 0) 12%, #121621 100%);
  }
  .banner-section .banner-content .sub-title::before {
    background-color: #949cb0;
  }
  .bg-overlay-black:before {
    opacity: .7;
    background: #131722;
  }
  .bg-overlay-base:before {
    background: #131722;
  }

  .menu-item li a {
    color: #e0e0e0;
  }
  .dropdown-menu>li>a {
    color: #e0e0e0;
    }

.modern-Checkbox [type="checkbox"]:not(:checked) + label, .modern-Checkbox [type="checkbox"] :not(:checked) + label:hover {
    background-color: transparent;
    color: #cdcdcd;
    border-color: #dddddd40;
}
#section-opt .movies-list-wrap .ml-title span.title, .movie-heading span, div.movies-list-wrap .ml-title span.title {
    color: #e0e0e0;
}
.page-title h1 {
    color: #e0e0e0;
}
.breadcrumb li a {
    color: #c3c3c3;
}